<div class="card border-secondary mb-4 tarjeta" >
      
    <div class="card-header btn-secondary text-center dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ tecnico.nombre }}
    </div>

    <div class="dropdown-menu">

            <div class="dropdown-item"></div>
            
                <div class="card-body text-secondary">

                        <h5 class="card-title ">{{ tecnico.nombre }}</h5>
                        
                        <p class="card-text">{{ tecnico.ci }}</p>

                        <p class="card-text">{{ tecnico.correo }}</p>

                        <button type="button" class="btn btn-secondary btn-block">
                            Editar datos
                        </button>
                </div>
          </div>
    

</div>
